
<!DOCTYPE html>
<html>
<head>
  <title>Fundación Promesas de Cristo, sé parte de nuestro Equipo</title>
</head>
<body>
  <div class="container">
    
    <div class="join-us">
      <h1 class="join-us-title">¡Sé parte de nuestra familia!</h1>
      
      <div class="join-us-description">
        <p>Fundación Cristiana de Cristo es una entidad sin ánimo de lucro que no cuenta con recursos financieros para su auto mantenimiento. En ese sentido, el trabajo desempeñado en la fundación es Ad honorem (por la honra, el prestigio o la satisfacción personal que la tarea brinda).</p>
        
        <p>Si eres mayor de edad y tienes el anhelo de hacer parte de nuestro equipo de trabajo para llevar a cabo nuestra misión, escríbenos.</p>
        
        <p>También se solicita voluntarios en las siguientes áreas:</p>
        
        <ul class="volunteers-list">
          <li>Psicología: Para llevar acompañamiento a niños, familias, centros de rehabilitación de consumo de sustancias psicoactivas y habitantes en condición de calle.</li>
          <li>Derecho: Para llevar acompañamiento jurídico a las poblaciones de enfoque en la fundación.</li>
          <li>Salud: Realizar campañas de concientización sobre el consumo de sustancias psicoactivas y revisión general para el adulto mayor.</li>
          <li>Trabajo social: Para el sostenimiento de la unidad familiar y el establecimiento de estrategias para la superación de eventos traumáticos generados por abandono, agresión física y verbal, y consumos de sustancias.</li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>

