<!DOCTYPE html>
<html>
<head>
<title>Historia, Visión y Misión</title>
</head>
<body>
  <div class="container">
    
    <div class="our-story">
      <h2 class="our-story-title">NUESTRA HISTORIA</h2>
      
      <div class="our-story-description">
        <p>Creamos un impacto significativo. La Fundación Cristiana Promesas de Cristo valora a todas las personas. Así, nuestra entidad, nace ante la necesidad de propiciar un cambio positivo, y desde que comenzamos en el año 2020, nos motivan los mismos valores sobre los que fundamos nuestra Organización sin fines de lucro: Fe, amor, compasión y misericordia. Fundación Cristiana Promesas de Cristo surgió de una búsqueda por inspirar y apoyar a la comunidad y de un deseo por probar que una acción vale más que mil palabras.</p>
      </div>
      
      <div class="our-story-mission-vision">
        <h3 class="our-story-mission-vision-title">Misión</h3>
        <p class="our-story-mission-vision-item">La Fundación Cristiana Promesas de Cristo es una organización social cristiana sin ánimo de lucro, cuya misión fundamental es mejorar la calidad de vida de los niños y las familias en estratos 1,2,3, además de evangelizar a los mismos a través del deporte, educación y alimentación.</p>
        
        <h3 class="our-story-mission-vision-title">Visión</h3>
        <p class="our-story-mission-vision-item">La Fundación Cristiana Promesas de Cristo busca ser una fundación consolidada que tenga cobertura a nivel nacional, brindando un servicio humanitario y social enfocado en suplir las necesidades no solo de alimento, educación y deporte, sino también las necesidades espirituales. De esta forma, buscamos que la fundación vaya en pro de sembrar la semilla de la Palabra de Dios en cada familia.</p>
      </div>
    </div>
  </div>
</body>
</html>
