<app-header></app-header>
<app-menu></app-menu>
<app-story></app-story>
<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <h1>Miembros</h1>
  <div class="container">
    <div class="members-list">
      <div class="member">
        <img src="./assets/miembros/Ana Orozco.jpg" alt="Ana Orozco">
        <div class="member-info">
          <div class="member-name">Ana Orozco</div>
          <div class="member-position">Representante legal</div>
          <div class="member-profession">Fundadora</div>
        </div>
      </div>
      <div class="member">
        <img src="ruta_de_la_imagen2.jpg" alt="Lucy">
        <div class="member-info">
          <div class="member-name">Luz Enith Rojas</div>
          <div class="member-position">Coordinadora Educación</div>
          <div class="member-profession">Co-Fundadora</div>
        </div>
        </div>
        <div class="member">
          <img src="./assets/miembros/Luz Dary Granada.jpeg" alt="Luz">
          <div class="member-info">
            <div class="member-name">Luz Dary Granada</div>
            <div class="member-position">Coordinadora programa "Un hombre nuevo"</div>
            <div class="member-profession"></div>
          </div>
        </div>
        <div class="member">
          <img src="./assets/miembros/Viviana Ruiz.jpeg" alt="Vivi">
          <div class="member-info">
            <div class="member-name">Viviana Ruiz</div>
            <div class="member-position">Psicologa</div>
            <div class="member-profession"></div>
          </div>
        </div>
        <div class="member">
          <img src="./assets/miembros/Verónica Duque.jpeg" alt="Vero">
          <div class="member-info">
            <div class="member-name">Verónica Duque</div>
            <div class="member-position">Coordinadora del adulto mayor "Guerreros de Cristo"</div>
            <div class="member-profession"></div>
          </div>
        </div>
        <div class="member">
          <img src="./assets/miembros/Fabio Andres Gutierrez.jpeg" alt="Fabio">
          <div class="member-info">
            <div class="member-name">Fabio Gutierrez</div>
            <div class="member-position">Profesor de Taekwondo </div>
            <div class="member-profession"></div>
          </div>
        </div>
        <div class="member">
          <img src="./assets/miembros/Luz Dary Granada.jpeg" alt="Marcela">
          <div class="member-info">
            <div class="member-name">Marcela Rendon</div>
            <div class="member-position">Contadora </div>
            <div class="member-profession"></div>
          </div>
        </div>
        <div class="member">
          <img src="./assets/miembros/Julio Albeiro Rendón.jpeg" alt="Julio">
          <div class="member-info">
            <div class="member-name">Julio Rendón</div>
            <div class="member-position">Revisor Fiscal</div>
            <div class="member-profession"></div>
          </div>
        </div>                                   
      </div>
    </div>
</body>
</html>
<app-footer></app-footer>
