<div class="container-xl" id="box-messages">
<div class="container">   
    <h3>Contáctanos</h3>
    <h5>Llámanos:</h5>
    <p>Tel: +57 3128495087 Ana Orozco</p>
    <h5>Visítanos:</h5>
    <p>Colombia, Pereira:</p>
    <p> Manzana 28 Casa 4 Tejares de la loma<p>
</div>
    <div class="container" id="principalBox">
        <input type="text" placeholder="Nombre">
        <input type="email" placeholder="Email">
        <input type="text" placeholder="Asunto">
        <input class="message" type="text" placeholder="Mensaje">
        <button>Enviar</button>
    </div>
</div>