<!DOCTYPE html>
<html>
<head>
  <title>Miembros Fundación Promesas de Cristo</title>
</head>
<body>
    <article>
        <h1>NUESTRA HISTORIA</h1>
<h1>Creamos un impacto significativo</h1>
<p>La Fundación Cristiana Promesas de Cristo valora a todas las personas. Así, nuestra entidad, nace ante la necesidad de propiciar un cambio positivo, y desde que comenzamos en el año 2020, nos motivan los mismos valores sobre los que fundamos nuestra Organización sin fines de lucro: Fe, amor, compasión y misericordia.  Fundación Cristiana Promesas de Cristo surgió de una búsqueda por inspirar y apoyar a la comunidad y de un deseo por probar que una acción vale más que mil palabras.
</p>
<h1>Misión</h1> 
<p>La Fundación Cristiana Promesas de Cristo es una organización social cristiana sin ánimo de lucro, cuya misión fundamental es mejorar la calidad de vida de los niños y las familias en estratos 1,2,3, además de evangelizar a los mismos a través  del deporte, educación y alimentación.</p>
<h1>Visión</h1> 
<p>La Fundación Cristiana Promesas de Cristo, busca ser una fundación consolidada que tenga cobertura a nivel nacional, brindando un servicio humanitario y social enfocada en suplir las necesidades no solo de alimento, educación y deporte, sino también las necesidades espirituales. De esta forma, buscamos que la fundación vaya en pro de sembrar la semilla de la Palabra de Dios en cada familia.
</p>
    </article>
  <div class="container">
    <div class="members-list">
      <div class="member">
        <img src="./assets/miembros-fotos/Ana Orozco.jpeg" alt="Miembro 1">
        <div class="member-info">
          <div class="member-name">Ana Orozco</div>
          <div class="member-position">Fundadora</div>
          <div class="member-profession">Profesora</div>
        </div>
      </div>
      
      <div class="member">
        <img src="ruta_de_la_imagen2.jpg" alt="Miembro 2">
        <div class="member-info">
          <div class="member-name">Luz Enith Rojas Orozco</div>
          <div class="member-position">Fundadora</div>
          <div class="member-profession">Licenciada en Bilinguismo con énfasis en inglés</div>
        </div>
      </div>

      <div class="member">
        <img src="./assets/miembros-fotos/Fabio Andres Gutierrez.jpeg" alt="Miembro 3">
        <div class="member-info">
          <div class="member-name">Fabio Andrés Gutierrez</div>
          <div class="member-position">Educador</div>
          <div class="member-profession">...</div>
        </div>
      </div>
      
      <div class="member">
        <img src="./assets/miembros-fotos/Jessica Granados.jpeg" alt="Miembro 4">
        <div class="member-info">
          <div class="member-name">Jessica Granados</div>
          <div class="member-position">...</div>
          <div class="member-profession">...</div>
        </div>
      </div>
      
      <div class="member">
        <img src="./assets/miembros-fotos/Julio Albeiro Rendón.jpeg" alt="Miembro 5">
        <div class="member-info">
          <div class="member-name">Julio Albeiro Rendon</div>
          <div class="member-position">...</div>
          <div class="member-profession">...</div>
        </div>
      </div>
      
      <div class="member">
        <img src="./assets/miembros-fotos/Luz Dary Granada.jpeg" alt="Miembro 6">
        <div class="member-info">
          <div class="member-name">Luz Dary Granada</div>
          <div class="member-position">...</div>
          <div class="member-profession">...</div>
        </div>
      </div>   
      
      <div class="member">
        <img src="./assets/miembros-fotos/Marcela Rendón.jpeg" alt="Miembro 7">
        <div class="member-info">
          <div class="member-name">Marcela Rendon</div>
          <div class="member-position">...</div>
          <div class="member-profession">...</div>
        </div>
      </div>
      
      <div class="member">
        <img src="./assets/miembros-fotos/Mary Cruz Alomía.jpeg" alt="Miembro 8">
        <div class="member-info">
          <div class="member-name">Mary Cruz Alomía</div>
          <div class="member-position">...</div>
          <div class="member-profession">...</div>
        </div>
      </div>
      
      <div class="member">
        <img src="./assets/miembros-fotos/Verónica Duque.jpeg" alt="Miembro 9">
        <div class="member-info">
          <div class="member-name">Verónica Duque</div>
          <div class="member-position">...</div>
          <div class="member-profession">...</div>
        </div>
      </div>
      
      <div class="member">
        <img src="./assets/miembros-fotos/Viviana Ruiz.jpeg" alt="Miembro 10">
        <div class="member-info">
          <div class="member-name">Viviana Ruiz</div>
          <div class="member-position">...</div>
          <div class="member-profession">...</div>
        </div>
      </div>  
      <!-- Agrega más miembros de la fundación siguiendo el mismo formato -->
      
    </div>
  </div>
</body>
</html>